body {
    box-sizing:border-box;
    background-color: rgb(255, 255, 116);
    margin: 0;
    padding: 0;
}
#Top-section{
    display:inline-block;
    position:relative;
    width: 100%;
    z-index: 0;
    background-color: rgb(15, 0, 15);
    clip-path: polygon(
        0 100%,
        0  0,
        40% 0,
        100% 0,
        100% 50%,
        20% 90%
        ); 
}

#about-me{
    color: gold;
    font-family:"Lavishly Yours",cursive;
    font-weight: 900;
    font-size:xx-large;
    top: -25vh;
    position: relative;
    right: -200px;
    z-index: 1;
}

#about-me:hover{
    color: palevioletred;
}

#Me:hover{
    color: rgb(2, 95, 2);
}

#img {
    margin: 2cm;
    padding: 20px;
    top: 10vh;
    right: -130px;
    z-index: 1;
}

#Me {
    color: rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgb(253, 236, 0);
    position: relative;
    display:inline-block;
    width: 300px;
    top: -60vh;
    right: -700px;
    text-align:start;
    padding: 9px;
    z-index: 1;
    grid-template-columns:1fr 1fr 1fr 1;
}

.My-work{
    display: grid;
    position: relative;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 100px 100px;
    height: 400px;
    box-sizing: border-box;
    box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.35);
    align-items: center;
    justify-content:space-evenly;
    justify-items: baseline;
}

h4{
    position: relative;
    right: -100px;
}

#item1, #item2, #item3{
    box-sizing: border-box;
    background-image: linear-gradient(0deg, rgb(251, 255, 16) 50%, rgb(0, 0, 0) 50%);
    box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.35);
    text-align: center;
    color: white;
    font-family: "Charis SIL",serif;
    font-weight: 900;
    position: relative;
    display: grid;
    top:7vh;
    width: 180px;
    height: 170px;
}

#item4, #item5, #item6{
    box-sizing: border-box;
    background-image: linear-gradient(0deg, rgb(251, 255, 16) 50%, rgb(0, 0, 0) 50%);
    box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.35);
    text-align: center;
    color: white;
    font-family: "Charis SIL",serif;
    font-weight: 900;
    position: relative;
    display: grid;
    width: 180px;
    height: 170px;
    top: 22vh;

}

#item1:hover{
    cursor: pointer;
    transform: skewx(20deg); 
    color: palevioletred; 
}

#item2:hover {
    cursor: pointer;
    transform: skewx(20deg);  
    color: palevioletred; 
}

#item3:hover {
    cursor: pointer;
    transform: skewx(20deg); 
    color: palevioletred;  
}

#item4:hover {
    cursor: pointer;
    transform: skewx(20deg); 
    color: palevioletred;  
}

#item5:hover {
    cursor: pointer;
    transform: skewx(20deg);  
    color: palevioletred; 
}

#item6:hover {
    cursor: pointer;
    transform: skewx(20deg);
    color: palevioletred;   
}


.Bottom-section{
background-color: rgb(0, 0, 0);
color: gold;
width: auto;
height: 400px;
justify-content: space-evenly;
position: relative;
display: grid;
top: 10vh;
grid-template-columns: 190px;
grid-template-rows:100px 90px 100px 55px 5;
}

h1, p, .material-symbols-outlined{
    display: grid;
    position: relative;
    display: grid;
    right: 200px;

}

h1:hover{
    cursor: pointer;
    color: palevioletred;
}
 
p:hover{
    cursor: pointer;
    color: palevioletred;
}

.material-symbols-outlined:hover{
    cursor: pointer;
    color: palevioletred;
}
h6{
    color: black;
}

#num, #num2 {
    display:inline-flex;
    position: relative;
    right: -28px;
    top: -6vh;
}

#bottom-right{
display: flex;
position: relative;
right: -100px;
top: -50vh;
}

.social {
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 1rem;
    color: black;
}

#social {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content:start;
    gap: 1rem;
    color:white;
    top: -5vh;
    right: 200px;
}


@media (min-width: 576px){
    img {
        width: 49%;
        height: auto;
    }
}
#Me {
    height: auto;
}

#Top-section{
    width: auto;
    height: auto;
}

 

@media (min-width: 992px){
    #Top-section{
        width: 100%;
        height: auto;
    }
   }
  
